h1 {
	color: red;
}

#text1 {
	color: white;
	background: blue;
	width: 100px;
}

#text2 {
	margin-top: 100px;
}

#text2 > span {
	color: red;
}

h2 {
	color:  white;
	background: green;
	padding-left: 5px;
}

#text3 {
	padding: 35px;
}

.formbox {
	width: 700px;
}

#paragraph {
	text-align: center;
}

section ul {
	font-size: 25px;
}

li {
	border: black solid 1px;
}